In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [3]:
url='https://raw.githubusercontent.com/Geerdata/DS/main/Datacoder/Arc.%20Modelo/WA_Fn-UseC_-Telco-Customer-Churn.csv'

df= pd.read_csv(url,sep=',')

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [28]:
x = df[['InternetService', 'TotalCharges', 'Contract', 'PaymentMethod']].copy()
y = df[['Churn']].copy()

In [16]:
x.head()

  InternetService TotalCharges        Contract              PaymentMethod
0             DSL        29.85  Month-to-month           Electronic check
1             DSL       1889.5        One year               Mailed check
2             DSL       108.15  Month-to-month               Mailed check
3             DSL      1840.75        One year  Bank transfer (automatic)
4     Fiber optic       151.65  Month-to-month           Electronic check

In [17]:
x_encoded = pd.get_dummies(x)
x_encoded.head()

,InternetService_DSL,InternetService_Fiber optic,InternetService_No,TotalCharges_,TotalCharges_100.2,TotalCharges_100.25,TotalCharges_100.35,TotalCharges_100.4,TotalCharges_100.8,TotalCharges_100.9,...,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False

Ahora no va 0,1 sino que muestra true false

In [18]:
x_encoded.shape

(7043, 6541)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_encoded, y, test_size=0.3, random_state=42)#test depende del tamaño del dataset en general, semilla de donde arranca

In [29]:
# Entrenar el arbol
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [30]:
pred=clf.predict(X_test)

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_true=y_test,y_pred=pred))

              precision    recall  f1-score   support

          No       0.81      0.89      0.85      1539
         Yes       0.61      0.45      0.52       574

    accuracy                           0.77      2113
   macro avg       0.71      0.67      0.69      2113
weighted avg       0.76      0.77      0.76      2113

De todo el muestreo se llega al 77% de acertividad, a nivel entrenamiento es bueno
- Precision: El objetivo principal es predecir los que se van a dar de baja, nuestro modelo tiene mas precision en las personas que no se van a dar de baja, con respecto a las que si se van a dar de baja.